@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

@mixin slowTrans {
    transition: all 0.3s ease;
}

html {
    user-select: none;
    scroll-behavior: smooth;
}

* {
    font-family: Comfortaa;
    font-size: 12px;
    margin: 0;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

button {
    cursor: pointer;
    border: 0;
    background: none;
    outline: none;
}
input {
    border: 0;
    outline: none;
}

body {
    background-color: #1c222b;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background: #171c24;
    width: 100%;
    height: 100%;
    &__play-container {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;

        &:hover {
            .start__icon {
                transform: rotate(360deg);
                background: #535c7565;
            }
        }
    }
    &__icon {
        width: 200px;
        height: 200px;
        color: #fff;
        border-radius: 50%;
        @include slowTrans();
    }
    &__text {
        color: #fff;
        font-size: 60px;
    }

    &__options-container {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }
}

.option-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &__text {
        color: #fff;
        font-size: 30px;
    }
    &__line {
        width: auto;
        height: 3px;
        background: #535c7565;
        border-radius: 20px;
    }
    &__menu {
        display: flex;
        column-gap: 10px;
    }
    &__button {
        color: #fff;
        border-radius: 25px;
        font-size: 18px;
        padding: 10px;
        font-weight: 700;
        background: #535c7565;
        @include slowTrans();
        &:hover {
            background: #fff;
            color: #171c24;
        }
        &_active {
            background: #fff;
            color: #171c24;
        }
    }
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171c24;
    width: 70%;
    height: 100%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

    &__container {
        display: flex;
        column-gap: 20px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__text {
        color: #e63946;
        font-size: 20px;
        line-height: 30px;
        border-bottom: solid 3px #ffffff8a;
    }
    &__value {
        color: #e2e2e2;
        font-size: 25px;
        margin-top: 10px;
    }
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #171c24;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    &__text {
        color: #fff;
        font-size: 200px;
    }
}

.end {
    background: #171c24;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    row-gap: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    &__title {
        color: #e63946;
        font-size: 150px;
        text-transform: uppercase;
    }
    &__score {
        color: #fff;
        font-size: 100px;
    }
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 90px;
        margin-top: 40px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    &__text {
        color: #e63946;
        font-size: 25px;
    }
    &__value {
        color: #fff;
        font-size: 30px;
    }
    &__line {
        height: 3px;
        width: 100%;
        background: #535c7565;
    }
    &__button {
        margin-top: 50px;
        color: #fff;
        background: #535c7565;
        width: 180px;
        height: 70px;
        border-radius: 50px;
        font-size: 25px;
        @include slowTrans();
        &:hover {
            background: #fff;
            color: #171c24;
        }
    }
}
