@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

@mixin slowTrans {
    transition: all 0.3s ease;
}

html {
    user-select: none;
    scroll-behavior: smooth;
}

* {
    font-family: Comfortaa;
    font-size: 12px;
    margin: 0;
    font-weight: normal;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

button {
    cursor: pointer;
    border: 0;
    background: none;
    outline: none;
}
input {
    border: 0;
    outline: none;
}

body {
    background-color: #1c222b;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    &__play-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
        cursor: pointer;
    }
    &__icon {
        width: 200px;
        height: 200px;
        color: #fff;
    }
    &__text {
        color: #fff;
        font-size: 80px;
    }

    &__options-container {
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }
}

.option-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    &__text {
        color: #fff;
        font-size: 30px;
    }
    &__line {
        width: auto;
        height: 3px;
        background: #ffffff8a;
        border-radius: 20px;
    }
    &__menu {
        display: flex;
        column-gap: 10px;
    }
    &__button {
        color: #fff;
        border: solid 2px #fff;
        border-radius: 15px;
        font-size: 18px;
        padding: 10px;
        &:hover {
            background: #fff;
            color: #4e4e4e;
        }
        &_active {
            background: #fff;
            color: #4e4e4e;
        }
    }
}

.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #171c24;
    width: 60%;
    height: 97%;
    border-radius: 20px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.info {
    height: 70px;
    display: flex;
    align-items: center;
    column-gap: 20%;
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    &__text {
        color: #e63946;
        font-size: 30px;
        border-bottom: solid 3px #e2e2e2;
        line-height: 60px;
    }
    &__value {
        color: #e2e2e2;
        font-size: 40px;
        margin-top: 15px;
    }
}
