@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);
html {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

* {
  font-family: Comfortaa;
  font-size: 12px;
  margin: 0;
  font-weight: normal;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  border: 0;
  background: none;
  outline: none;
}

input {
  border: 0;
  outline: none;
}

body {
  background-color: #1c222b;
}

.start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 80px;
          column-gap: 80px;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.start__play-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  cursor: pointer;
}

.start__icon {
  width: 200px;
  height: 200px;
  color: #fff;
}

.start__text {
  color: #fff;
  font-size: 80px;
}

.start__options-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
}

.option-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.option-card__text {
  color: #fff;
  font-size: 30px;
}

.option-card__line {
  width: auto;
  height: 3px;
  background: #ffffff8a;
  border-radius: 20px;
}

.option-card__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.option-card__button {
  color: #fff;
  border: solid 2px #fff;
  border-radius: 15px;
  font-size: 18px;
  padding: 10px;
}

.option-card__button:hover {
  background: #fff;
  color: #4e4e4e;
}

.option-card__button_active {
  background: #fff;
  color: #4e4e4e;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #171c24;
  width: 60%;
  height: 97%;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.info {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20%;
          column-gap: 20%;
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__text {
  color: #e63946;
  font-size: 30px;
  border-bottom: solid 3px #e2e2e2;
  line-height: 60px;
}

.info__value {
  color: #e2e2e2;
  font-size: 40px;
  margin-top: 15px;
}
/*# sourceMappingURL=style.css.map */